input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, *::before, *::after{
	box-sizing: border-box;
	font-family: 'Open Sans',sans-serif;
}

*:focus{
	outline: none;
}

html{
	overflow: hidden;
}

body{
	background-color: rgb(16, 15, 22);
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container{
	position: relative;
}

.calculator-grid{
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 65vh;
	grid-template-columns: repeat(4, 85px);
	grid-template-rows: minmax(120px, auto) repeat(5, 85px);
	
	background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(63, 63, 63, 0.2), 0 0 100px 0 rgba(0, 0, 0, 0.381);
	padding-left: 8px;
	z-index: 5;
	backdrop-filter: blur(2.4rem);
}

.calculator-grid > button{
	cursor: pointer;
}

.output{
	grid-column: 1/-1;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px 25px 10px 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.output .previous-operand{
	color: rgba(255, 255, 255, .74);
	font-size: 1.3rem;
}

.output .current-operand{
	color: #fff;
	font-size: 2rem;
}

.circle1{
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: #7d93e0;
	top: -90px;
	left: 100px;
	z-index: -1;
}

.circle2{
	position: absolute;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	background-color: #20b2aa;
	top: 300px;
	left: 150px;
	z-index: -1;
}

.circle4{
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #9477af;
	top: 430px;
	left: -60px;
	z-index: -1;
}

.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}

.number, .empty{
	background-color: #eaedef;
}

.operator:active, .number:active{
	font-size: 13px;
}


button:nth-child(5){
	font-size: 20px;
	background-color: #20b2aa;
}

button:nth-child(9){
	font-size: 20px;
	background-color: #ffa500;
}

button:nth-child(13){
	font-size: 20px;
	background-color: #aa6a6a;
}

button:nth-child(17){
	font-size: 20px;
	background-color: #7d93e0;
}

button:nth-child(21){
	font-size: 20px;
	background-color: #9477af;
}